@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #000000;

  --dark-900: #000021;
  --dark-600: #101026;
  --dark-400: #232338;
  --dark-100: #464669;
 
  --gray-600: #4D4D4D;
  --gray-200: #7a7a7a;
  --green-900: #45FFB1;
  --red-900: #FF3F4A;
  --yellow-900: #FFD600;
}

body {
  background: var(--dark-900);
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

.text {
  font-family: var(--inter-font);
  font-weight: 200;
  font-style: italic;
}